### Prediction students final result 

<big> This is classic dataset, which contains general information about portugal students. Main task - predict final result based on general information.
    
This notebook demostrate several methods of preprocessing data, such as general overview of the data, replacing some text values with their meaning, and one hot encoding for categorical features
    
A linear model from Scikit learn is used to solve the problem

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pl
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn import linear_model

In [2]:
df = pd.read_csv('student-mat.csv', sep = ';')
df.head(4)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15

In [3]:
repl = {'yes':1, 'no':0}
df = df.replace(repl)

types = df.dtypes[df.dtypes=='object'].keys()
#for s in types:
#    print(df[s].value_counts())
#    print('\n')
df_ohe = pd.get_dummies(df, columns = types)
y = df_ohe["G3"]
answer_columns = ['G1', 'G2', 'G3']
X = df_ohe.drop(answer_columns, axis = 1)
print(X.shape)

X_train,X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2)

(395, 48)

In [4]:
reg = linear_model.LinearRegression()
reg.fit(X_train, y_train)
w = reg.coef_
y_res = round(X_test.dot(w)+ reg.intercept_)
print(reg.score(X_train, y_train))
print(reg.intercept_)
y_res

0.3330359020996718
-305863935072.6987

118     7.0
244    11.0
267    10.0
209    10.0
154     9.0
       ...
273     9.0
172    12.0
73     11.0
307    10.0
387    12.0
Length: 79, dtype: float64

In [5]:
error_train = mean_squared_error(y_true = y_train, y_pred = round(X_train.dot(w)+reg.intercept_))
error_test = mean_squared_error(y_true = y_test, y_pred = round(X_test.dot(w)+reg.intercept_))
print("Train set error: ", error_train)
print("Test set error: ", error_test)

Train set error:  13.746835443037975
Test set error:  25.670886075949365